.header {
  padding-top: 40px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  background: transparent;
}

.team-icon {
  font-size: 26px;
  margin-right: 12px;
}